<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.resume.bs_caption', :default => 'resume') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), resumes_path, :class => "btn btn-default" %>